@use 'utilities' as *;

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    color: $dark-color;
}

.section-heading {
    margin-bottom: .8em;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}