<meta name="author" content="Forest Group">
<link type="image/png" sizes="16x16" rel="icon" href="./dist/img/icons8-tree-16.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/eb09a80b71.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./dist/css/main.min.css">
