<nav class="nav nav-mobile">
    <div class="nav-mobile__brand">
        <a href="@@home" class="nav-mobile__brand-name"><i class="nav-mobile__brand-logo fa-solid fa-tree"></i> Forest</a>
    </div>

    <button class="burger-btn" aria-label="Otwórz menu nawigacyjne">
        <i class="burger-btn__icon fa-solid fa-bars"></i>
    </button>

    <ul class="nav-mobile__items">
        <li><a href="@@home" class="nav-mobile__item">Home</a></li>
        <li><a href="@@onas" class="nav-mobile__item">O nas</a></li>
        <li><a href="@@oferta" class="nav-mobile__item">Oferta</a></li>
        <li><a href="@@kontakt" class="nav-mobile__item">Kontakt</a></li>
    </ul>
</nav>

<nav class="nav nav-desktop">
    <div class="wrapper">
        <div class="nav-desktop__brand">
            <a href="@@home"><i class="nav-desktop__brand-logo fa-solid fa-tree"></i> Forest</a>
        </div>
        <ul class="nav-desktop__items">
            <li><a href="@@home" class="nav-desktop__item @@home-active">Home</a></li>
            <li><a href="@@onas" class="nav-desktop__item">O nas</a></li>
            <li><a href="@@oferta" class="nav-desktop__item @@oferta-active">Oferta</a></li>
            <li><a href="@@kontakt" class="nav-desktop__item @@kontakt-active">Kontakt</a></li>
        </ul>
    </div>
</nav>